01_Rouling_Harry_Potter_1_Harry_Potter_and_the_Sorcerers_Stone.txt
02_Rouling_Harry_Potter_2_Harry_Potter_and_the_Chamber_of_Secrets.txt
03_Rouling_Harry_Potter_3_Harry_Potter_and_the_Prisoner_of_Azkaban.txt
04_Rouling_Harry_Potter_4_Harry_Potter_and_the_Goblet_of_Fire.txt
05_Rouling_Harry_Potter_5_Harry_Potter_and_the_Order_of_the_Phoenix_vyichityivaetsya.txt
06_Rouling_Harry_Potter_6_Harry_Potter_and_the_Half-Blood_Prince_vyichityivaetsya.txt
07_Rouling_Harry_Potter_7_Harry_Potter_and_the_Deathly_Hallows.txt
harry_potter_corpus.txt
venv

